* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Genty";
  src: url("/fonts/Genty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
  font-feature-settings: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("/fonts/gliker_sb.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
  font-feature-settings: normal;
}

@font-face {
  font-family: "Stolzl";
  src: url("/fonts/stolzl.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
  font-feature-settings: normal;
}

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/bricolage.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
  font-feature-settings: normal;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  color: #fdf8ce;
  background-color: #b5d782;
  font-family: "Bricolage", "Genty", "Gliker", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

/* Prevent layout shifts during font loading */
html {
  font-size: 16px;
}

/* Ensure consistent font rendering */
* {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Prevent font flickering during page transitions */
body * {
  will-change: auto;
}

img, video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
