* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Genty";
  src: url("/fonts/genty.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gliker";
  src: url("/fonts/gliker.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stolzl";
  src: url("/fonts/stolzl.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  color: #fdf8ce;
  background-color: #b5d782;
  font-family: "Stolzl", "Genty", "Gliker", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
